<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:label="MotorAI Seed 015"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <service
            android:name=".MotorAIBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <activity
            android:name=".DiagnosticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiniAiGoalsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
